$sea-cream: #FFC46C;
$sea-black: #000000;
$sea-black-2: #131313;
$sea-orange: #FF9900;
$sea-white: #FFFFFF;
$sea-white-2: #f6f6f6;
$sea-purple: #8800CE;
$sea-purple-2: #FBC7FF;
$sea-purple-3: #E562FF;
$sea-dark-blue: #010184;
$sea-blue: #1F7FFA;


