@import "./colors.scss";
* {
    margin: 0;
    padding: 0;
}
html, body {
    scroll-behavior: smooth;
}

// navbar component

header {
    display: inline;
  }
  
  .jumbotron {
    font-size: 20px;
    padding: 20px;
    background-color: $sea-white;
    text-align: center;
    h1 {
      margin: 0;
    }
  }
  
  .logo {
    position: fixed;    
    margin: 20px 36px;
    height: 4vw;            
    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
  }
  
  nav {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $sea-white;
    box-shadow: 0px 0px 2px #aaaaaa;
    ul {
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;      
      padding: 0;
      text-align: right;
      margin: 0;
      transition: 1s ease-in-out;
      li {
          display: inline-block;
          padding: 30px 0px;
          a {
              text-decoration: none;
              font-size: 1.1em;
              color: $sea-black;
              padding: 30px 20px;
          }          
      } 
    }
  }
  
  .icon-menu {
    width: 100%;
    background: white;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: $sea-black;
    display: none;
    transition: 1s;
  }
  
  .bg-biru:hover {
    background-color: $sea-blue;    
    cursor: pointer;
    a {
        color: $sea-white;
    }
  }
  
  
  @media (max-width: 885px) {    
    .logo {
      position: fixed;
      top: 0;
      margin-top: 15px;
      img {
          width: 200px;
          max-height: none;
      }
    }
  
    nav ul {
      max-height: 0px;
      background: white;
      padding-right: 0;
    }  
  
    .showing {
      max-height: 25em;
    }
  
    nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 20px 0px;
      text-align: center;
      a {
        padding: 20px 0px;
      }
    }
  
    .icon-menu {
      display: block;
    }
  }
    @media (max-width: 360px) {        
        .logo {        
        margin-top: 18px;
            img {
                width: 150px;                
            }
        }
    }
  
  //  end

// content
.content {    
    background-color: $sea-white-2;
}


// program section
.program-section {     
    width: 80vw;   
    margin: 0 auto;
    padding: 7em 0 3em;
    font-size: 20px;
    .desc {
        .title {
            text-align: center;
            margin-bottom: 2rem;
            color: $sea-dark-blue;           
        }
        .text {        
            text-align: justify;
            line-height: 1.75rem;
            margin-bottom: 2em;
        }

    }
    .program-card {
        display: flex;
        justify-content: space-between;
        gap: 1.5em;        
        .card {
            flex: 1;
            background-color: $sea-white;
            padding: 2rem 3rem;
            box-shadow: 0 0 1.6em rgba(0,0,0,.3);
            img {
                width: 200px;
                display: block;
                margin: 0 auto;
            }
            .card-title {
                text-align: center;
                margin: 1.5rem 0 2rem;
            }
            .card-desc {
                ul {
                    margin-left: 1.5em;
                    list-style: none;                
                    li {
                        text-align: justify;
                    }
                }
                ul li:before {
                    content: "-";
                    margin-left: -1rem;
                    margin-right: .45rem;
                }
                p {
                    margin: 0.5em 0;
                }

            }
        }
    }
}

@media(max-width: 992px) {
    .program-section {
        padding-top: 7em;
        font-size: 18px;
    }   
}
@media(max-width: 992px) {
    .program-section .program-card {
        flex-direction: column;
        .card img {
            width: 100%;
        }
    }   
}
@media(max-width: 480px) {
    .program-section {
        padding-top: 7em;
        font-size: 14px;
    }   
}


// partner section
.arrow-back {    
    position: absolute;    
    top: 50%;
    z-index: 4;
}
.arrow-next {    
    position: absolute;    
    top: 50%;
    z-index: 4;
    right: 0;
}
.arrow-next:hover, .arrow-back:hover{
    cursor: pointer;
}


.partner-section {
    margin: 2em 0;
    padding: 6em 0;
    background-color: $sea-white;
    .partner-title {
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        color: $sea-dark-blue;           
    }
    .slider-partner-section {
        width: 80vw;
        margin: 1.5em auto;
        .univ-section {
            margin-top: 3em;
            .university {
                width: 90%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                padding: 1rem 0;
                .univ-pic {
                    width: 30%;
                    margin: 1rem 2rem;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                .univ-info {  
                    .univ-title {
                        margin-left: .5em;
                        margin-bottom: .5em;
                        font-size: 27px;
                    }        
                    .faculty {  
                        display: flex;                      
                        ul {
                            margin-left: 2em;
                            list-style: none;                
                            li {
                                line-height: 1.5rem;
                            }                            
                        }
                        ul li:before {
                            content: "-";
                            margin-left: -1rem;
                            margin-right: .45rem;
                        }
                    }          
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .partner-section {
        .partner-title {
            font-size: 2.3em;             
        }
        .slider-partner-section .univ-section {
            margin-top: 0;
            .university {                
                flex-direction: column;
                .univ-pic {
                    width: 90%;
                }
                .univ-info {
                    .univ-title {
                        font-size: 22px;
                        text-align: center;
                    }
                    .faculty ul li {
                        font-size: 14px;
                    }
                }
            }
        }  
    }   
}

@media(max-width: 425px) {
    .partner-section {
        .partner-title {
            font-size: 1.7em;            
        }
        .slider-partner-section .univ-section .university .univ-info {
            .univ-title {
                font-size: 18px;
            }
            .faculty ul li {
                font-size: 12px;
            }
        }
    }    
}

// timeline 
.timeline-section {
    padding: 6em 0 5em;    
    .timeline {          
        position: relative;    
        width: 80vw;      
        margin: 0 auto;  
        .timeline-title p {        
            text-align: center;
            font-size: 40px;
            font-weight: bold;    
            padding-bottom: 4%;
            color: $sea-dark-blue;
        }
        .timeline-img {        
            display: grid;
            grid-template-columns: repeat(4, 1fr);    
            justify-content: space-between;
            align-items: flex-end;
            .img-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;            
                gap: 10px;
                margin-top: 1em;
                img {
                    width: 12vw;
                    margin: 0 auto;  
                }
                .title {
                    font-weight: bold;
                    font-size: 1.1em;
                    color: $sea-dark-blue;
                }
                .date {
                    font-size: 0.9em;
                }
                p {                        
                    text-align: center;                                
                    width: 70%;
                }    
                .line-step {
                    position: absolute;
                    right: -2.5vw;
                    bottom: 8vw;
                    width: 5vw;
                    border-bottom: .25rem solid #ddd;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .timeline-section .timeline .timeline-img {                
        .img-card .line-step {            
            bottom: 10vw;            
        }      
    }      
}
@media(max-width: 768px) {
    .timeline-section {
        padding: 0 0 2em;
        .timeline {        
            .timeline-title p {
                font-size: 2em;
            }
            .timeline-img {        
                font-size: 14px;  
                .img-card .line-step {            
                    bottom: 13vw;            
                } 
            }     
        }  
    }    
}
@media(max-width: 660px) {
    .timeline-section .timeline .timeline-img {        
        font-size: 12px;        
        .img-card .title {
            font-size: 1em;
        }
    }      
}

@media(max-width: 425px) {
    .timeline-section {
        padding: 0 0 2em;
        .timeline .timeline-img {        
            font-size: 12px;        
            .img-card {
                .title {
                    font-size: 0.8em;
                }
                .date {
                    font-size: 0.8em;
                }
            }
        }
    }      
}
@media(max-width: 375px) {
    .timeline-section .timeline {
        .timeline-title p {
            font-size: 1.5em;
        }
        .timeline-img {        
            font-size: 12px;        
            .img-card {
                .line-step {
                    bottom: 18vw;
                }            
            }
        }
    }      
}



// testimonial
.testimonial-section {
    margin: 2em 0 0;
    padding: 6em 0;
    background-color: $sea-white;
    .testimonial-title {
        font-size: 2.5em;
        font-weight: bold;
        text-align: center;
        color: $sea-dark-blue;           
    }
    .slider-testimonial-section {
        width: 80vw;
        margin: 1.5em auto;
        .testimonial-card {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: .5em 1em;
            .card-pic {
                width: 40%;
                margin: 1rem 2rem;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .card-desc {  
                width: 60%;
                margin: 0 3em;
                line-height: 1.8em;
                height: fit-content;
                .testi {
                    font-style: italic;
                }        
                .identitas {
                    font-weight: bold;
                }          
            }
        }
    }
}

@media(max-width: 768px) {
    .testimonial-section .slider-testimonial-section .testimonial-card {                
        flex-direction: column;        
        .card-pic {
            width: 80%;
        }
        .card-desc {
            width: 90%;
        }
    }      
}
@media(max-width: 425px) {
    .testimonial-section .slider-testimonial-section {
        width: 85vw;
    }    
}


// FAQ 

.faq-section {     
    padding: 5em 0;
    background-color: $sea-white;
    .faq {        
        position: relative;
        width: 80vw;
        margin: 0 auto;
        .faq-title p {        
            text-align: center;
            font-size: 40px;
            font-weight: bold;    
            padding-bottom: 4%;
            color: $sea-dark-blue;
        }    
        .question {
            font-size: 1.1em;
            ul {
                margin-left: 1.5em;
                list-style: none;                
                li {
                    text-align: justify;
                }
            }
            ul li:before {
                content: "-";
                margin-left: -1rem;
                margin-right: .45rem;
            }            
        }

    }     
}

// footer
footer {    
    padding: 2em 1em;
    color: $sea-white;
    background-color: $sea-blue;
    text-align: center;        
    a {        
        color: $sea-white;
    }  
 }

//  error
.error {    
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 2em;
        font-weight: 700;
    }    
}

.full-page {
    min-height: 100vh;
}